body {background-color: blue ;}

#foods {border-style: dotted;
text-align: center;
border-color: magenta;
color: aqua;
background-color: black;
font-size: 50px;
padding: 40px;
font-family: cursive;}

#activities {border-style: dotted;
  text-align: center;
border-color: magenta;
color: aqua;
background-color: black;
font-size: 50px;
padding: 40px;
font-family: cursive;}

#colors {border-style: dotted;
  text-align: center;
border-color: magenta;
color: aqua;
background-color: black;
font-size: 50px;
padding: 40px;
font-family: cursive;}

#canvas {
  border-style: dotted;
  border-color: magenta;
}
